This notebook is to help calculate an estimate for how much a person should be making to afford their living conditions

**num_monthly_working_weeks:**
The numebr of weeks worked in a month.

**num_working_days:**
The number of working days in a week.

**num_monthly_days_off:**
The number of available off days in a month.


**num_working_hours:**
The number of working hours in a day.

**num_weekend_days:**
The number of weekend days in a week.
 
**num_daily_meals:**
The number of meal eaten in a day.

**num_work_trips:**
The number of trips to and from work.
 
**savings_rate:**
The portion of income to be added as savings

**buffer_rate:**
The portion of daily expenses to be added as buffer/emergency cash.

**time_off_rate:**
The portion of earned daily income to be used on weekend and time off days.

In [ ]:
import pandas as pd
 
#@title Model Settings
 
num_monthly_working_weeks = 4 #@param {type:"integer"}
num_working_days = 5 #@param {type:"integer"}
num_monthly_days_off =  2 #@param {type:"integer"}
 
num_working_hours = 9 #@param {type:"number"}
num_weekend_days = 7 - num_working_days
 
num_daily_meals =   2.5#@param {type:"number"}
num_work_trips = 2 #@param {type:"number"}
 
savings_rate =   0.2 #@param {type:"number"}
buffer_rate =  0.25 #@param {type:"number"}
time_off_rate =  0.8 #@param {type:"number"}

**meal_cost:**
The cost of a single meal.

**trip_cost:**
The cost of a single trip to work.

**daily_data_cost:**
The cost of internet data on any given day.
 
**rent_cost:**
The monthly cost of rent for a given location.

**utility_cost:**
The monthly cost of utilites for a given location.
 
**hourly_rate:**
The amount to earn for each hour of work done. This value is independent of all other costs.

In [ ]:
#@title Model Values
 
meal_cost =   40#@param {type:"number"}
trip_cost =   30#@param {type:"number"}
daily_data_cost =   25#@param {type:"number"}
 
rent_cost =   2000#@param {type:"number"}
utility_cost =   500#@param {type:"number"}
 
hourly_rate =    40#@param {type:"number"}
 
# Daily Expenses
daily_food_cost = num_daily_meals * meal_cost
daily_transportation_cost = num_work_trips * trip_cost
daily_work_compensation = num_working_hours * hourly_rate
 
daily_costs = daily_food_cost + daily_transportation_cost + daily_data_cost
 
daily_buffer_cash = daily_costs * buffer_rate
 
daily_expenses = {
    "Food": daily_food_cost,
    "Transportation": daily_transportation_cost,
    "Data": daily_data_cost,
    "work Compensation": daily_work_compensation,
    "Buffer Cash": daily_buffer_cash
}
 
# Monthly Expenses
monthly_expenses = {k: v * num_working_days * num_monthly_working_weeks 
                    for (k, v) in daily_expenses.items()}
 
weekends = num_monthly_working_weeks * num_weekend_days
time_off_pay = daily_costs + (daily_work_compensation * time_off_rate)
personal_cash = (weekends + num_monthly_days_off) * time_off_pay
 
monthly_expenses["Rent"] = rent_cost
monthly_expenses["Utilities"] = utility_cost
monthly_expenses["Personal Cash"] = personal_cash
 
subtotal_compensation = sum(monthly_expenses.values())

savings = subtotal_compensation * savings_rate 
monthly_expenses["Savings"] = savings

Work_compensation = monthly_expenses["work Compensation"]
total_compensation = sum(monthly_expenses.values())
 
monthly_expenses["Total"] = total_compensation
 
discretionary_income = personal_cash + Work_compensation

# 50/30/20 ratio calculations
neccesary_costs = total_compensation - sum([monthly_expenses["work Compensation"], monthly_expenses["Savings"], monthly_expenses["Personal Cash"]])
 
needs_ratio = round((neccesary_costs / total_compensation) * 100, 2)
wants_ratio = round((discretionary_income / total_compensation) * 100, 2)
adjusted_wants_ratio = round(100 - (needs_ratio + (savings_rate * 100)), 2)
save_ratio = round((savings / total_compensation) * 100, 2)

In [ ]:
daily_sheet = {
    "": daily_expenses.keys(),
    "Daily Expenses": daily_expenses.values()
}
 
daily_df = pd.DataFrame(daily_sheet)
 
daily_df

                      Daily Expenses
0               Food          100.00
1     Transportation           60.00
2               Data           25.00
3  work Compensation          360.00
4        Buffer Cash           46.25

In [ ]:
monthly_sheet = {
    "": monthly_expenses.keys(),
    "Monthly Expenses": monthly_expenses.values()
}
 
monthly_df = pd.DataFrame(monthly_sheet)
 
monthly_df

                      Monthly Expenses
0               Food            2000.0
1     Transportation            1200.0
2               Data             500.0
3  work Compensation            7200.0
4        Buffer Cash             925.0
5               Rent            2000.0
6          Utilities             500.0
7      Personal Cash            4730.0
8            Savings            3811.0
9              Total           22866.0

In [ ]:
print(f"""
Total Compensation: GHC {total_compensation}
Discretionary income: GHC {discretionary_income}
Savings: GHC {savings}
Ratio: ({needs_ratio}) / ({wants_ratio} ~ {adjusted_wants_ratio}) / ({save_ratio} ~ {savings_rate * 100})
""")

Total Compensation: GHC 22866.0
Discretionary income: GHC 11930.0
Savings: GHC 3811.0
Ratio: (31.16) / (52.17 ~ 48.84) / (16.67 ~ 20.0)